@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: #D7596C;
    --chart-2: #2A7BFF;
    --chart-3: #D7596C;
    --chart-4: #4D2BD7;
    --chart-5: #ED764B;
    --chart-6: #D3D2D2;
    --chart-7: #4941F5;
    --chart-8: #D9D9D9;
    --chart-9: #D7596C;
    --chart-10: #8350DC;
    --chart-11: #D7596C;
    --chart-12: #2BD191;
    --chart-13: #BA79DB;
    --radius: 0.5rem;
  }
  .dark {
    /* 暗色模式的颜色 */
    --background: 0 0% 3.9%; /* 深色背景 */
    --foreground: 0 0% 98%; /* 浅色前景 */
    --card: #1A1A1A; /* 深色卡片背景 */
    --card-foreground: #FFFFFF; /* 浅色卡片前景 */
    --popover: #1A1A1A; /* 深色弹出层背景 */
    --popover-foreground: #FFFFFF; /* 浅色弹出层前景 */
    --primary: #FFFFFF; /* 浅色主色 */
    --primary-foreground: #000000; /* 深色主色前景 */
    --secondary: #FFFFFF; /* 浅色次要颜色 */
    --secondary-foreground: #000000; /* 深色次要颜色前景 */
    --muted: #4D4D4D; /* 深色静音颜色 */
    --muted-foreground: #FFFFFF; /* 浅色静音前景 */
    --accent: #4D4D4D; /* 深色强调颜色 */
    --accent-foreground: #FFFFFF; /* 浅色强调前景 */
    --destructive: hsl(348,100%,61.8%); /* 红色销毁动作 */
    --destructive-foreground: #FFFFFF; /* 浅色销毁前景 */
    --border: hsl(348,100%,30.6%); /* 深色边框 */
    --input: hsl(348,100%,30.6%); /* 深色输入框背景 */
    --ring: hsl(348,100%,83.1%); /* 深色环形效果 */

    /* 新增的暗模式颜色 */
    --title-text-1: linear-gradient(90deg, #FFE2FF, #FFFB8E);
    --title-text-2: #FFFFFF;
    --card-background: #141414;
    --card-title: #FFE2FF;
    --card-text-1: rgba(255,255,255,0.8); /* 白色带透明度的文本 */
    --card-text-2: #FFFFFF;
    --chart-title: #FFFFFF;
    --chart-sub: rgba(255,255,255,0.7); /* 白色带透明度的副标题文本 */
    --chart-text: #FFFFFF;


  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Add this to the end of your globals.css file */

.fade-left {
  background: linear-gradient(to right, hsl(var(--background)) 0%, transparent 100%);
}

.fade-right {
  background: linear-gradient(to left, hsl(var(--background)) 0%, transparent 100%);
}

.gradient-text {
  background: var(--title-text-1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
